.App{
  background-color: #FAFAFA;
  
}
.App__navbar{
  display: flex;
  flex-direction: row;
  
  background-color: #FFFFFF;
  border-bottom: 1px solid #DBDBDB;
  height: 54px;
  margin-bottom: 10px;
}
.App__navbar img{
  padding-left: 200px;
  
}
.navbar__img{
  object-fit: contain;
  width: 103px;
  height: 29px;
  
  padding-top: 15px;
}
.App__posts{
  margin-left: 200px;
}
.App__signup
{
  display: flex;
  flex-direction: column;
}
.app__logincontainer{
 display: flex;
 flex-direction: row;

  
  margin-top: 10px;
}
.app__logincontainer_signup
{
  height: 40px;
 

}
.app__logincontainer_signin
{
  height: 40px;
 margin-left: 459px;
}

.uploadsection
{
  border: 1px solid #DBDBDB;
}
.uploadsection Button
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.app__logoutcontainer
{
  display: flex;
  flex-direction: row;
  margin-left: 630px;
}
.app__logoutcontainer Button{
  height: 40px;
  margin-top: 10px;
}
.posts__Avatar
{
  margin-left: 10px;
  margin-top: 10px;
}
.logo-insta
{
  
}